<!DOCTYPE html>
<html>
  <head>
    <title>Running Tours by Ari</title>

    <!-- CSS Reset -->
    <!-- <link href="reset.css" type="text/css" rel="stylesheet"> -->

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div>
      <h3>D.C. Maryland Virginia</h3>
      <h1>Running Tours by Ari</h1>
      <ul class="nav">
        <li class="button"> <%= link_to('Home', root_path) %></li>
        <li class="button"> <%= link_to('Birthday Surprise', birthday_surprise_index_path) %></li>
        <li class="button"> <%= link_to('Sign Up for Our Email List', emails_path) %></li>
        <li class="button"> <%= link_to('Runs', runs_path) %></li>
      </ul>
    </div>

    <% if flash.notice %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
